/* Base Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

body {
    background-color: #0f0f0f;
    color: #888;
    font-family: 'Inter', sans-serif;
    padding-bottom: 2.5rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px;
    border: 2px solid #0f0f0f;
}

::-webkit-scrollbar-thumb:hover {
    background: #3a3a3a;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #2a2a2a #0f0f0f;
}

.hidden {
    display: none !important;
}